<div class="dashboard-container">
    <h2>My Appartments</h2>
    <button (click)="logout()">Logout</button>
  
    <table>
      <thead>
        <tr>
          <th>Tittle</th>
          <th>Description</th>
          <th>Air conditioning</th>
          <th>Heating</th>
          <th>Elevator</th>
          <th>Avalilable</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apartment of apartments">
          <td>{{ apartment.title }}</td>
          <td>{{ apartment.description }}</td>
          <td>{{ apartment.air_conditioning ? '✔' : '✖' }}</td>
          <td>{{ apartment.heating ? '✔' : '✖' }}</td>
          <td>{{ apartment.elevator ? '✔' : '✖' }}</td>
          <td>{{ apartment.available ? 'Sí' : 'No' }}</td>
          <td>
            <button (click)="toggleAvailability(apartment)">
              {{ apartment.available ? 'Desactivar' : 'Activar' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
