<div class="dashboard-container">
    <h2>My Appartments</h2>  
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>
      <p>Loading appartments...</p>
    </div>  
    <div *ngIf="!isLoading" class="Appartment-list">
      <mat-card class="example-card" appearance="outlined" *ngFor="let apartment of apartments">
        <mat-card-header>
          <mat-card-title>{{ apartment.title }}</mat-card-title>
          <mat-card-subtitle>{{apartment.landlord.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ apartment.description }}            
          </p>
          <ul>
            <li>Air conditioning: {{ apartment.air_conditioning ? '✔' : '✖' }}</li>
            <li>Heating: {{ apartment.heating ? '✔' : '✖' }}</li>
            <li>Elevator: {{ apartment.elevator ? '✔' : '✖' }}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="toggleAvailability(apartment)">{{ apartment.available ? 'Deactivate' : 'Activate' }}</button>          
        </mat-card-actions>
      </mat-card>
      
    </div>
  
  </div>
  
